@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
  --DesaturatedDark: hsl(214, 17%, 51%);
  --GrayishBlue: hsl(212, 23%, 69%);
  --LightGrayish: hsl(210, 46%, 95%);
  --Fontsize: 13px;
  --Headings: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--LightGrayish);
  text-align: center;
}

.article {
  display: grid;
  grid-template-columns: 1fr 1fr; /* or you could say 50% 50% */
  grid-column-gap: 20px;
  margin: 0 auto;
  max-width: 840px;
  max-height: 400px;
  background-color: #fff;
  margin-top: 150px;
  margin-bottom: 80px;
  text-align: left;
}

.drawers {
  width: 100%;
  height: 400px;
}

.title_article {
  font-family: var(--Headings);
  color: var(--VeryDarkGrayishBlue);
  font-size: 1.3em;
  padding-top: 50px;
}

.text_article {
  font-family: var(--Headings);
  color: var(--GrayishBlue);
  font-size: 1em;
  padding-top: 50px;
}

.avatar {
  border-radius: 50%;
  width: 50px;
  margin-top: 40px;
  margin-left: 5px;
}

.author_name {
  color: var(--VeryDarkGrayishBlue);
  font-weight: 700;
  font-family: var(--Headings);
  font-size: 1em;
  margin-top: 40px;
  margin-left: 15px;
}

.time {
  color: var(--DesaturatedDark);
  margin-left: 15px;
}

.author_info {
  display: flex;
  flex-direction: row;
}

.share_social {
  display: none;
}
